/* Element Definitions */
body {
	margin: 0px;
	padding: 0px;
}

th {
	background-color: silver;
}

button {
	border-style: solid;
	border-width: thin;
	border-color: black;
}

/* Class Definitions */
.wait {
	padding: 10px;
    border-color: black;
	border-style: solid;
	border-width: thin;	
	background-color:white;
	margin-left: 45%;	
  	position:absolute;
  	top: 123px;
}	

.vscroll {
	height: 70vh;
	overflow-y: auto;
}

.title {
	font-size:30px;
	text-align:center;
	color:white;
	background-color:black;
	width:100%;
}

.error {
	color:red;
}

.label {
	text-align:right;
	font-weight:bold;
	padding:5px;
	width:100px;
}

.bold {
	font-weight:bold;	
}

.border {
	border-style: solid;
	border-width: thin;
}

.align-left {
	text-align:left;
}

.align-right {
	text-align:right;
}

.align-center {
	text-align:center;
}

.align-top {
	vertical-align: text-top;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
